<%= content_for :aside do%>
  <article class="reklama">
    <p>реклама?</p>
  </article>

  <article class="suzhets">
    <h1>Популярные сюжеты</h1>
    <hr />
    <%= render "subjects/popular", :subjects => subjects%>
  </article>
  <article class="popular">
    <h1>Самое популярное</h1>
  <%= render "stories/popular", :populars => populars%>
  </article>
  <article class="social">
    <a href="#"><%= image_tag "facebook.png"%>Facebook</a>
    <a href="#"><%= image_tag "twitter.png"%>Twitter</a>
    <a href="#"><%= image_tag "lj.png"%>ЖЖ</a>
    <a href="#"><%= image_tag "vkontakte.png"%>Вконтакте</a>
    <a href="#"><%= image_tag "googleplus.png"%>Google+</a>     
  </article>
<% end -%>