<h1><%= main.subject_title %></h1>
<div class="hot-news">
<span class="date"><%= Russian::strftime(main.published_at, :long)%></span>
<%= link_to main.title, main, :class => "ah1" %>

<div><%= main.teaser.html_safe %></div>
<article class="counters">
  <a href="#" class="classes"></a>
  <span class="green">134</span>
  <a href="#" class="discuss"></a>
  <span>34</span>
  <a href="#" class="prosmotrov"></a>
  <span><%= main.impressions_count %></span>
</article>
</div>