<article class="newsblock">
  <%= link_to story.subject_title, story.subject, :class =>'news_zagolovok'%>
  <span class="info">
  <%=story.subject.published_stories_count%> <%= Russian::p(story.subject.published_stories_count, "новость","новости","новостей")%>
  </span>
  <div class="news-block">
  <span class="newsdate"><%= Russian::strftime(story.published_at, :long)%></span>
      <a href="#"><%= link_to story.title, story %></a>
    <div class="news-content">
      <%= story.teaser.html_safe %>
    </div>
    <article class="newscounters">
        <a href="#" class="newsprosmotrov"></a>
        <span><%= story.impressionist_count %></span>
        <!-- <a href="#" class="newsdiscuss"></a>
        <span>34</span>
        <a href="#" class="newsclasses"></a>
        <span class="green">134</span> -->              
      </article>
  </div>
</article>