<div id="edit">
  <%= semantic_form_for @story do |f|%>
  <%f.object.build_subject #unless f.object.new_record?%>
  <%= f.inputs  "New story" do %>
  <%= f.input :subject_title, :as => :autocomplete, :url => autocomplete_subject_title_subjects_path %>
  <%= f.input :title %>
  <%= f.input :teaser %>
  <%= f.inputs "Images" do %>
    <% if f.object.new_record? %>
    <div id="images">
      <input type="hidden" name="images[]" value="1">
      <input type="hidden" name="images[]" value="2">
      <input type="hidden" name="images[]" value="3">
    </div>
    <% end -%>
  <% end -%>
  <%= f.input :content %>
  <%= f.input :status, :as => :radio, :collection => Story.status_collection%>
  <%= f.input :published_at %>

  <% end -%>
  <%= f.buttons%>
  <% end -%>
</div>