<%= content_for(:title) {"Сюжеты"}%>
<% @subjects.each do |subject| %>
  <% if subject.published_stories_count > 0 %>
    <section class="suget">
        <div>
          <h2><%= link_to subject.title, subject %></h2>
          <p class="share_suget"><span>Поделиться: </span>
        <a href="#"><img src=<%="#{root_url}assets/facebook.png" %> alt="" /></a>
        <a href="#"><img src=<%= "#{root_url}assets/twitter.png" %> alt="" /></a>
        <a href="#"><img src=<%= "#{root_url}assets/lj.png" %> alt="" /></a>
        <a href="#"><img src=<%= "#{root_url}assets/vkontakte.png" %> alt="" /></a>
        <a href="#"><img src=<%= "#{root_url}assets/googleplus.png" %> alt="" /></a>
            <img src=<%="#{root_url}assets/googlecount.png" %> alt="" />
          </p>
        </div>
        <% subject.last_three_story.each do |story|%>
        <div class="suget-block">
            <p class="newsdate"><%= Russian::strftime(story.published_at, :long) %></p>
            <a href="#"><%= link_to story.title, story %></a>
              <article class="newscounters">
                <a href="#" class="newsprosmotrov"></a>
                <p><%= story.impressionist_count%></p>
                <a href="#" class="newsdiscuss"></a>
                <p>34</p>           
              </article>
        </div>
        <% end -%>
        
    </section>
  <% end -%>
<% end -%>
<%= render "shared/sidebar", :populars => @populars, :subjects => @popular_subjects %>