<%= content_for(:title) {"Сюжет: " + @subject.title} %>
<section class="suget">
  <div>
    <h1><%= @subject.title %></h1>
    <p class="share_suget"><span>Поделиться: </span>
        <a href="http://www.facebook.com/sharer.php?u=<%=request.url%>"><img src=<%="#{root_url}assets/facebook.png" %> alt="" /></a>
        <a href="http://twitter.com/intent/tweet?text=<%=u(request.url + @subject.title + '#unasnayuge')%>"><img src=<%= "#{root_url}assets/twitter.png" %> alt="" /></a>
        <a href="http://vkontakte.ru/share.php?url=<%=request.url%>"><img src=<%= "#{root_url}assets/vkontakte.png" %> alt="" /></a>
<!--         <a href="#"><img src=<%= "#{root_url}assets/lj.png" %> alt="" /></a> -->
<!--         <a href="#"><img src=<%= "#{root_url}assets/googleplus.png" %> alt="" /></a>
        <img src=<%="#{root_url}assets/googlecount.png" %> alt="" /> -->
      </p>
      <p class="sugetp"><%= @subject.description if true %></p>
  </div>
  <h2 class="newscounter"><%=@subject.published_stories_count%> <%= Russian::p(@subject.published_stories_count, "новость","новости","новостей") %></h2>
  <% @stories.each do |s|%>
    <div class="suget-block">
        <p class="newsdate"><%= Russian::strftime(s.published_at, :long) %></p>
        <a href="#"><%= link_to s.title, s %></a>
        <div class="suget-content">
          <%=s.teaser.html_safe %>
        </div>
          <article class="newscounters">
            <a href="#" class="newsprosmotrov"></a>
            <p><%= s.impressionist_count %></p>
            <a href="#" class="newsdiscuss"></a>
            <p>34</p>           
          </article>
    </div>
  <% end -%>
</section>
<%= render "shared/sidebar", :populars => @populars, :subjects => @popular_subjects %>