<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "У нас на Юге" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

  <header id="header">
<!--     <article class="topheader">
      <a href="#" class="enter">Войти</a>
      <a href="#" class="registration">Регистрация</a>
      <p class="loginwith"><span>Вход  через:</span>
        <a href="#"><img src=<%="#{root_url}assets/googleplus.png"%> alt="" /></a>
        <a href="#"><img src=<%="#{root_url}assets/vkontakte.png"%> alt="" /></a>
        <a href="#"><img src=<%="#{root_url}assets/lj.png"%> alt="" /></a>
        <a href="#"><img src=<%="#{root_url}assets/twitter.png"%> alt="" /></a>
        <a href="#"><img src=<%="#{root_url}assets/facebook.png"%> alt="" /></a>
      </p>
      
    </article> -->
    <%= link_to "У НАС НА ЮГЕ", root_url, :class => 'logo'%>
    <nav class="menu">
      <ul>
        <li><a href="#">Главные новости</a></li>
        <li><a href="#">О проекте</a></li>
        <li><a href="#">Компании</a></li>
        <li><a href="#">Фотоотчеты</a></li>
      </ul>
    </nav>
  </header><!-- #header-->

  <section id="middle">

    <div id="container">
      <div id="content">
        <%= yield %>
      </div><!-- #content-->
    </div><!-- #container-->

    <aside id="sideRight">
      <%= yield :aside %>
    </aside><!-- #sideRight -->
  
  </section><!-- #middle-->

</div><!-- #wrapper -->

<footer id="footer">
  <article class="copyright">
    <h2>© 2011 У нас на юге</h2>
    <p>Использование материалов разрешено только при наличии активной ссылки на источник. Все права на картинки и тексты в разделе Новости принадлежат их авторам.</p>
  </article>
  <nav class="footermenu">
    <ul>
      <li><a href="#">О проекте</a></li>
      <li><a href="#">Прислать новость</a></li>
      <li><a href="#">Связаться с нами</a></li>
    </ul>
  </nav>
  <article class="scetchiki">
    
  </article>
</footer><!-- #footer -->

</body>
</html>
